@page
@model Project.Pages.RoomServicesTeam.Daily_CleaningModel
@{
    ViewData["Title"] = "DailyCleaning";

}

<div class="container mt-5">
    <h3 class="mb-4">Daily Cleaning</h3>
    <table class="table table-bordered">
        <thead class="table-success">
            <tr>
                <th>Room ID</th>
                <th>Condition</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>F004</td>
                <td>Done</td>
            </tr>
            <tr>
                <td>S004</td>
                <td>Done</td>
            </tr>
            <tr>
                <td>S013 d</td>
                <td>In Progress</td>
            </tr>
            <tr>
                <td>S010 e</td>
                <td>Undone</td>
            </tr>
        </tbody>
    </table>
</div>
